
.borde{border-right:  solid 2px black;
       border-bottom: solid 2px black;
       border-top:solid 2px black;
       padding:10px;}

.fondo {background-color:#452745;
        padding: 10px;
        color:white;
        }
.espacio{
	     margin:30px;
}        

.borde_iz{border-left: solid 2px black;}
.rojo{background-color: red;
      color:white;}