body{margin-bottom: 40px;
     
     }

a {margin:20px 30px;
   font-size: 18px;
   font-family: "Work Sans";
   background-color: rgba(128,128,128,0.4);
   border-radius: 5px;
   color:white;
   padding: 5px 10px;
   line-height: 50px;
   white-space: nowrap;

}


.ejercicios{text-align: center;
font-family: "Work Sans";
}

.columna{
         margin:10px;
         
         
         }
         
        




