a {margin:0px 30px;
   font-size: 18px;
   font-family: "Work Sans";
   background-color: rgba(128,128,128,0.4);
   border-radius: 5px;

}

h2{margin:30px 0px;}
.ejercicios{text-align: justify;
font-family: "Work Sans";}