@font-face {
font-family:"CocoGothic";
src: url(../fonts/CocoGothic-BoldItalic_trial.ttf) format('embedded-opentype');
src: url(../fonts/CocoGothic-Bold_trial.ttf);
src: url(../fonts/CocoGothic-HeavyItalic_trial.ttf);
src: url(../fonts/CocoGothic-Heavy_trial.ttf);}

@font-face {
font-family:"Libel";
src:url(../fonts/libel-suit-rg_0.ttf);
}
@font-face {
font-family:"CocoGothic-Light";
src:url(../fonts/CocoGothic-Light_trial.ttf);
}

body{background-image: url("../img/Fondo.jpg");
}

p{ font-family: "CocoGothic-Light";
}

.ancho{width: 65%}

.datos {margin-top: 10px;
margin-bottom: 18px;

}
.texto_bordo1{font-size: 18px;
              margin-left: 30px;
          }
.texto_bordo2{text-align: right;
	margin-bottom:0;
	margin-right: 30px;
    font-size: 18px;}

.formulario{padding:30px 120px;
background-color: #001044;
border-radius: 10px;
}

.boton{text-align: right;}

.caja{ padding-bottom: 150px;
}

footer{
background-color: #001044;
margin-top: 600px;
margin: 0 auto;
border-radius: 5px;
color:white;

}

.alineacion_footer{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 10px 0px;}

footer a{ margin:10px;
}

.copyright{font-size: 10px;
text-align: center;
}

.fondo_bordo{background-color: #AF1E45;
border-radius: 5px;
color:white;
padding: 10px 0px;
}

.alto{margin-bottom: 10px;
padding-bottom: 10px;
padding-top:5px;
}

/*CSS DEL NAVBAR*/
nav div h1{
position:absolute;
top:0.7em;
left:1em;
z-index: 2;
}
nav img{
float: right;
}
a:hover{
text-decoration:none;
}
.container{
margin-top:2em;
}
#baner{
background-color: #092053;
border-radius:1em;
height:13em;
font-family:"Libel";
letter-spacing: 2px;
text-shadow: 2px 2px 5px black;
box-shadow: 2px 2px 5px black;
}
.text-cream{
color:#F3E4AE;
font-size:1.5em;
}
.text-bordo{
color:#890644;
font-size:1.5em;
}
.text-naranja{
color:#F49D48;
font-size:1.5em;
}
.Idioma{
position:absolute;
z-index: 2;
top:8em;
left:2.7em;
}
.TextSizeMedio{
font-size:2.2em;
}
.ListaNavegador{
width:95%;
display: flex;
flex-direction:row;
justify-content:space-around;
position:absolute;
left:2em;
z-index:-1;
font-family:"Libel";
letter-spacing: 2px;
text-shadow: 2px 2px 5px black;

}
.ItemsNavegador{
font-size: 3em;
width:18%;
height:4em;
border-radius:0.3em;
padding:1em 0;
text-align: center;
position:relative;
bottom:100px;
box-shadow: 2px 2px 5px black;
}
.ItemsNavegador:hover{
font-size: 3em;
width:18%;
height:4em;
border-radius:0.3em;
padding:1em;
text-align: center;
position:relative;
bottom:40px;
box-shadow: 2px 2px 5px black;
}
.Inicio{
background-color:#890644;
color:white;
}
.Menu{
background-color:#F3E4AE;
}
.Locales{
background-color:#F49D48;
}
.Contacto{
background-color:#890644;
}
.Pedido{
background-color:#F3E4AE;
}
.linkNav{
color:white;
position:relative;
top:1.5em;
}
.linkNav:hover{
color:#0080BB;
}
#linkNavPed{
color:white;

}
#linkNavPed:hover{
color:#0080BB;

}
.menu{margin-bottom: 100px;
}

/*media query*/
@media (min-width:992px) and (max-width:1199px){


.ItemsNavegador{
	font-size:2.5em;
	position:relative;
	bottom:110px;
	text-align: center;
	padding:auto;
}

.ItemsNavegador:hover{
	position:relative;
	bottom:75px; 

}

.Pedidos:hover{
	position:relative;	
	bottom:20px;
}

.linkNav{
	position:relative;
	right:0.1em;

}



}

@media (max-width:992px){

.ListaNavegador{
display:none;

}

h1{
	display: flex;
	flex-direction:column;
	top:0;
	left:2em;
	font-size:3vh;
}

.delete{
	display: none;
}

.Idioma{
	display:none;

}

}

@media (max-width:768px){


.ListaNavegador{
display:none;

}
}


@media (max-width:420px){


.ListaNavegador{
display:none;
}


h1{
	display:none;
}

.imagen{
	width:300px;
}

}