.titulo{ display:flex;
         flex-direction: row;
         justify-content: space-around;
         background-color: black;
         color: white ;
          padding: 20px;}
 h1{font-family: "Gloria Hallelujah";
    font-size: 50px;}         

 .menu{ padding: 40px; }  

 .link { margin:40px;
         text-decoration: none;
         background-color: orange;
         padding: 10px;
         color:white;
         font-size:18px; }

 
.violeta{ height: 400px;
 	       width: 630px;
           background-color: violet;
           }

.general {margin:40px;} 
.violeta0{ display: flex;
           flex-direction: row;
           justify-content: space-between;}

.azul {height:100px;
       background-color: blue;
       margin-top: 20px;
       padding: 10px 10px;
        }                  
 .perro_azul{display:flex;
              flex-direction: row;
              justify-content: flex-end;} 
.verde_columnas{display:flex;
                flex-direction: row;
                justify-content: space-between;}
.verde{ height: 600px;
        width: 400px;
        background-color: green;
        margin-top: 20px;}  


 .amarillo_row{display:flex;
              flex-direction: row;
              justify-content: flex-start;
              background-color: yellow;
              margin-top: 20px;
              padding: 10px 10px;

 }  
 @media (max-width:768px){
 	
 	.menu a{display: block;
 	        padding: 5px;
 	        margin: 0px;}    
 	body{position:relative;}
 	.menu{position:fixed;
 	       top:200px;
 	       bottom:0px;
 	       left:600px;
 	       padding: 30px;
            display:block;
 	        z-index: 1;}    
 }

 @media (max-width:420px) {
   .menu a{display: block;
          padding: 5px;
          margin: 0px;}    
  body{position:relative;}
  .menu{position:fixed;
         top:200px;
         bottom:0px;
         left:280px;
         padding: 30px;
         display:block;
          z-index: 1;}    
 }


 }



 


