#container {margin:0 auto;
            max-width:600px;
            max-height:600px;
           border: 2px solid black;
            overflow: hidden;
        }
.fila {
    max-width: 600px;
    max-height:200px;
    
}        

.celda {float:left;
        border-style:solid;
        border-color: black;
        width: 200px;
        height:200px;
        border-width: 2px;
        background-color: #C5C5C5;
        box-sizing: border-box;
        background-position: 50%;
         background-repeat: no-repeat;
        }
 .celda:hover{
    border-width: 4px;
    cursor: pointer;
 }
 .celda.circulo:hover{
    border-width: 2px;
    cursor: default;
 }
 .celda.cruz:hover{
    border-width: 2px;
    cursor: default;

 }
.circulo{background-image:url(../img/cuadrado3.png);
     }
         
 .cruz {
 	     background-image: url(../img/cruz.png);
         
 }