.App{
  border: 2px solid black;
  text-align: center;
  background: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
}
input{
  margin:10px;
  
}
.list{
  text-align: center;
  margin: 0 auto;
  margin-top:30px;
  
}
.list td, .list th{
  padding:10px;
  
}
